#movie-result {
  background: rgb(173, 178, 212);
  border: 5px solid rgb(199, 217, 221);
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#hobby-result {
  background: rgb(173, 178, 212);
  border: 5px solid rgb(199, 217, 221);
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Quicksand", sans-serif;
color: rgb(100, 130, 173)}

html {
  background-color: rgb(245, 237, 237)
  background-image: url(https://cdn.glitch.global/d5b6d0b6-808a-480a-89b8-d80613368069/vector-seamless-pattern-pink-question-260nw-1549300670.webp?v=1747152737797)
}


hr {
  height: 5px;
  background-color: rgb(199, 217, 221);
}
